////////////////////////////////////
// COLOR  SYSTEM
////////////////////////////////////
:root {
  --color-primary-50: hsl(204, 15%, 94%);
  --color-primary-100: hsl(198, 16%, 84%);
  --color-primary-200: hsl(200, 15%, 73%);
  --color-primary-300: hsl(200, 16%, 62%);
  --color-primary-400: hsl(200, 15%, 54%);
  --color-primary-500: hsl(200, 18%, 46%);
  --color-primary-600: hsl(199, 18%, 40%);
  --color-primary-700: hsl(199, 18%, 33%);
  --color-primary-800: hsl(200, 18%, 26%);
  --color-primary-900: hsl(200, 19%, 18%);
}

////////////////////////////////////
// SPACING AND SIZING  SYSTEM
////////////////////////////////////
:root {
  // px
  --ss-1: 2px;
  --ss-2: 3px;
  --ss-3: 4px;
  --ss-4: 8px;
  --ss-5: 12px;
  --ss-6: 14px;
  --ss-7: 16px;
  --ss-8: 24px;
  --ss-9: 32px;
  --ss-10: 48px;
  --ss-11: 64px;
  --ss-12: 96px;
  --ss-13: 128px;
  --ss-14: 192px;
  --ss-15: 256px;
  --ss-16: 384px;
  --ss-17: 512px;
  --ss-18: 640px;
  --ss-19: 768px;

  // rem
  --ss-rem-1: 0.2rem;
  --ss-rem-2: 0.3rem;
  --ss-rem-3: 0.4rem;
  --ss-rem-4: 0.8rem;
  --ss-rem-5: 1.2rem;
  --ss-rem-6: 1.4rem;
  --ss-rem-7: 1.6rem;
  --ss-rem-8: 2.4rem;
  --ss-rem-9: 3.2rem;
  --ss-rem-10: 4.8rem;
  --ss-rem-11: 6.4rem;
  --ss-rem-12: 9.6rem;
  --ss-rem-13: 12.8rem;
  --ss-rem-14: 19.2rem;
  --ss-rem-15: 25.6rem;
  --ss-rem-16: 38.4rem;
  --ss-rem-17: 51.2rem;
  --ss-rem-18: 64rem;
  --ss-rem-19: 76.8rem;
}

////////////////////////////////////
// OTHERS
////////////////////////////////////
:root {
  --line: 1px solid var(--color-primary-200);

  // Line Height
  --default-line-height: 1.6;
  --line-height-sm: 1.4;
  --line-height-xs: 1.2;
  --line-height: 1;

  // Font Size
  --default-font-size: var(--ss-rem-7);

  // Font weight:
  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 600;
  --font-weight-4: 700;
}
