////////////////////////////////////
// COLOR  SYSTEM
////////////////////////////////////
:root {
  --color-primary-50: hsl(204, 15%, 94%);
  --color-primary-100: hsl(198, 16%, 84%);
  --color-primary-200: hsl(200, 15%, 73%);
  --color-primary-300: hsl(200, 16%, 62%);
  --color-primary-400: hsl(200, 15%, 54%);
  --color-primary-500: hsl(200, 18%, 46%);
  --color-primary-600: hsl(199, 18%, 40%);
  --color-primary-700: hsl(199, 18%, 33%);
  --color-primary-800: hsl(200, 18%, 26%);
  --color-primary-900: hsl(200, 19%, 18%);
}
